<div ng-cloak="" layout="column">
    <md-toolbar class="md-accent _md _md-toolbar-transitions">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Post Settings</h2>

            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog" />
            </md-button>
        </div>
    </md-toolbar>

    <md-content layout-gt-sm="column" layout-padding>
        <div layout="column" style="min-width:600px">
            <md-input-container>
                <label>Post Categories</label>
                <md-chips ng-model="categories" placeholder="Enter a category then press Enter" delete-button-label="Remove Category" delete-hint="Press delete to remove category"
                    secondary-placeholder="+Category">
                </md-chips>
            </md-input-container>
            <md-input-container>
                <label>Post Tags</label>
                <md-chips ng-model="tags" md-max-chips="10" placeholder="Enter a tag then press Entersd" delete-button-label="Remove Tag"
                    delete-hint="Press delete to remove tag" secondary-placeholder="+Tag">
                </md-chips>
            </md-input-container>
        </div>
        <div layout="row" layout-align="end end">
            <md-button class="md-raised">More Options</md-button>
            <md-button class="md-raised md-primary">Save Settings</md-button>
        </div>
    </md-content>
</div>