<ul id="le_toolbar" class="toolbar">
        <li ng-repeat="button in $ctrl.buttons track by $index"
            data-id="{{ button.id }}"
            uib-tooltip="{{ button.title }}"
            tooltip-placement="top"
            tooltip-class="le-tooltip"
            tooltip-popup-delay="800"
            tooltip-popup-close-delay="100"
			ng-class="button.class"
        >
                <a href="#" ng-click="button.handler()" ng-disabled="button.disabled">
                    <i ng-class="[button.icon, button.id]"></i>
                </a>
        </li>
</ul>
<div style=" display:none !important; visibility: hidden !important;">
<editor></editor>
<post-revisions></post-revisions>
<post-settings></post-settings>
<le-help></le-help>
<new-post></new-post>

</div>