*:focus {
    outline: none;
}

.editable,
.secondEditable
 {
    outline: none;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #dbdbdb;
}

.medium-editor-state-buttons {
    display: inline-block;
    float:right;
}

.medium-editor-state-buttons .btn.btn-default {
    padding: 5px 9px;
    background: transparent;
    border: 1px solid #999;
    text-decoration: none;
    border-radius: 2px;
    font-size: 75%;
    margin-right: 10px;
}

.ui-dialog .ui-dialog-titlebar {
    display: none;
}

div#tags-input_tagsinput {
    margin-bottom: 10px;
    width: 100% !important;
}

div#category_dialog {
    padding-left: 4px;
}